.ant-picker-calendar-header {
  justify-content: flex-start;
  padding-left: 25px;
}

.button-space-align button.ant-btn.ant-btn-primary {
  position: absolute;
  margin-top: 10px;
  margin-left: 40px;
}

ul.events li {
  list-style: none;
}
.ant-picker-calendar .ant-radio-group {
  display: none;
}

@media screen and (max-width: 1024px) {
  .button-space-align button.ant-btn.ant-btn-primary {
    margin-left: -47px;
  }

 
  
}

@media screen and (max-width: 768px) {

  .button-space-align button.ant-btn.ant-btn-primary {
    position: relative;
    margin-top: 0;
    margin-left: -47px;
  }
}