.ant-picker-calendar-header {
  justify-content: flex-start;
  padding-left: 25px;
}

.button-space-align button.ant-btn.ant-btn-primary {
  position: absolute;
  margin-top: 10px;
  margin-left: 40px;
}

ul.events li {
  list-style: none;
}
.ant-picker-calendar .ant-radio-group {
  display: none;
}